name: RunTestsBackend

# Trigger 
on:
 pull_request:
   branches:
     - main
     - Code

# Jobs to be executed
jobs:
tests:
  runs-on: ubuntu-latest
  container:
    image: node:22
  # Steps to execute for job 'tests'
  steps:
    - name: Checkout the repository
      uses: actions/checkout@v3

    - name: Set up Node.js Server environment
      run: npm ci
      working-directory: ./backend/my-node-server

    - name: build the Application
      run: docker-compose up --build -d

    - name: Run Tests
      run: npm test
      working-directory: ./backend/my-node-server/tests

    - name: Stopp the Application
      if: always()
      run: docker-compose down